.hg/
.idea/
*.iml
*.min.js
*.user.js
.hgignore
*-minified.js
// Help-me man, please, 
//I already set up the 2.0 script, already configured the Twilio account, did everything ... He goes automatic in the game, but the injection icon has no function . Do not ignore me please give me a light.
// My e-mail:  Marcusscharf_@hotmail.com
// I can pay for the script if necessary
