
<ul id="ioh-tabs" class="window-tabs" style="display: block;">
    <li id="tab-general" class="ui-ib active ioh"><a href="#" soundoverwrite="true">
        <div></div>
        General</a></li>
    <li id="tab-schedules" class="ui-ib ioh"><a href="#" soundoverwrite="true">
        <div></div>
        Schedules</a></li>
</ul>

<style>
    .ioh#tab-general a div {
        background-position: -210px -180px;
    }

    .ioh#tab-general.active a div {
        background-position: -180px -180px;
    }

    .ioh#tab-schedules a div {
        background-position: -210px -90px;
    }

    .ioh#tab-schedules.active a div {
        background-position: -180px -90px;
    }
</style>

<style>
    .ioh-welcome-wrapper {
        margin: 0 auto;
        padding: 1em 0;
        width: 72%;
    }
</style>
